input[type="date"]{
    /* background-color: #ECF0F1; */
    padding:15px;
    color: black;
    font-family: 'Roboto Mono',monospace;
    /* font-size:18px; */
    border: none;
    outline: none;
    border-radius:5px;
}

::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius:3px;
}

input[type="time"]{
    background-color: #ECF0F1;
    padding:15px;
    color: black;
    font-family: 'Roboto Mono',monospace;
    /* font-size:18px; */
    border: none;
    outline: none;
    border-radius:5px;
}

::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius:3px;
}