body {
    /* min-height: 100vh; */
   
   /* background:  rgb(84, 107, 148);   */

    width: 100vw;
    min-height: 100vh;
    background-color: #f7f8fd !important;
    box-sizing: border-box;
    position: relative;
    height: 100%;
   

     /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #90a9cb, #919ead, #92a3cd);  
    background: linear-gradient(to right, #90a9cb, #919ead, #92a3cd);   */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

.hospitalImgHolder{
    
    background-color: linear-gradient(180deg, #02BCB1 0%, #0298D5 100%);
  }